In [3]:
from google.colab import files

In [4]:
uploaded=files.upload()

Saving adult.csv to adult.csv
Saving Dataset of Diabetes .csv to Dataset of Diabetes .csv

In [6]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

In [41]:
df = pd.read_csv("Diabetes.csv")

print("Diabetes Dataset Info:")
df.info()

Diabetes Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [32]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [31]:
for col in df.select_dtypes(include=np.number).columns:
    df[col] = df[col].fillna(df[col].mean())

for col in df.select_dtypes(include="object").columns:
    df[col] = df[col].fillna(df[col].mode()[0])

In [17]:
encoder = LabelEncoder()
cat_cols = ["Gender", "CLASS"]

for col in cat_cols:
    df[col] = encoder.fit_transform(df[col])

print("Categorical Data Encoded")

Categorical Data Encoded

In [18]:
def remove_outliers(data, col):
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    return data[(data[col] >= lower) & (data[col] <= upper)]

for col in df.select_dtypes(include=np.number):
    df = remove_outliers(df, col)

print("Outliers Removed")

Outliers Removed

In [19]:
minmax = MinMaxScaler()

df_minmax = df.copy()

features = df_minmax.drop("CLASS", axis=1)

df_minmax[features.columns] = minmax.fit_transform(features)

print("Min-Max Normalized Data:")
df_minmax.head()

Min-Max Normalized Data:

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
169,0.892231,0.452186,0.5,0.193548,0.328947,0.690476,0.230769,0.694915,0.723404,0.2,0.673469,0.761905,0.15,3
170,0.106516,0.316206,0.0,0.354839,0.381579,0.404762,0.900000,0.406780,0.361702,0.4,0.387755,0.380952,0.50,3
171,0.286967,0.188926,0.0,0.354839,0.381579,0.404762,0.900000,0.406780,0.361702,0.4,0.387755,0.380952,0.50,3
172,0.630326,0.303545,0.0,0.290323,0.381579,0.190476,0.346154,0.406780,0.425532,0.6,0.326531,0.428571,0.20,3
174,0.006266,0.452318,0.0,0.225806,0.250000,0.440476,0.238462,0.627119,0.744681,0.6,0.448980,0.761905,0.25,3

In [20]:
standard = StandardScaler()

df_standard = df.copy()

features = df_standard.drop("CLASS", axis=1)

df_standard[features.columns] = standard.fit_transform(features)

print("Standard Scaled Data:")
df_standard.head()

Standard Scaled Data:

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
169,1.634136,0.322377,0.947475,-2.344564,-0.661056,1.293338,-1.688590,1.126537,1.485468,-1.284433,1.348145,1.482732,-2.141359,3
170,-1.060798,-0.421699,-1.040434,-1.280766,-0.395535,-0.104775,2.040328,-0.410418,-0.195241,-0.352859,-0.059949,-0.268049,-0.394447,3
171,-0.441866,-1.118165,-1.040434,-1.280766,-0.395535,-0.104775,2.040328,-0.410418,-0.195241,-0.352859,-0.059949,-0.268049,-0.394447,3
172,0.735825,-0.490976,-1.040434,-1.706285,-0.395535,-1.153359,-1.045673,-0.410418,0.101355,0.578715,-0.361683,-0.049201,-1.891800,3
174,-1.404650,0.323102,-1.040434,-2.131805,-1.059337,0.069989,-1.645729,0.764900,1.584333,0.578715,0.241786,1.482732,-1.642241,3

In [21]:
df2 = pd.read_csv("adult.csv")

print("Dataset Loaded Successfully")
df2.head()

Dataset Loaded Successfully

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [40]:
df2 = df2.replace(" ?", np.nan)
df2 = df2.replace("?", np.nan)
print(df2.isnull().sum())

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [34]:
# Fill numeric columns with mean
for col in df2.select_dtypes(include=np.number).columns:
    df2[col] = df2[col].fillna(df2[col].mean())

# Fill categorical columns with mode
for col in df2.select_dtypes(include="object").columns:
    df2[col] = df2[col].fillna(df2[col].mode()[0])

In [35]:
encoder = LabelEncoder()

for col in df2.select_dtypes(include="object").columns:
    df2[col] = encoder.fit_transform(df2[col])

print("Categorical Columns Encoded")

Categorical Columns Encoded

In [36]:
def remove_outliers(data, col):

    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)

    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    return data[(data[col] >= lower) & (data[col] <= upper)]

for col in df2.select_dtypes(include=np.number).columns:
    df2 = remove_outliers(df2, col)

print("Outliers Removed")

Outliers Removed

In [43]:
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler()

df_minmax = df2.copy()

X = df_minmax.iloc[:, :-1].astype(float)

df_minmax.iloc[:, :-1] = minmax.fit_transform(X)

print("Min-Max Scaled Data:")
df_minmax.head()

Min-Max Scaled Data:

/tmp/ipython-input-2632638929.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.1372549  0.15686275 0.17647059 ... 0.39215686 0.09803922 0.80392157]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_minmax.iloc[:, :-1] = minmax.fit_transform(X)
/tmp/ipython-input-2632638929.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.94777236 0.51177865 0.07867167 ... 0.49119065 0.78928124 0.36787569]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_minmax.iloc[:, :-1] = minmax.fit_transform(X)
/tmp/ipython-input-2632638929.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.   0.25 0.5  ... 0.   1.   0.5 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_minmax.iloc[:, :-1] = minmax.fit_transform(X)
/tmp/ipython-input-2632638929.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.2 0.8 0.  ... 0.6 0.2 0. ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_minmax.iloc[:, :-1] = minmax.fit_transform(X)
/tmp/ipython-input-2632638929.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.66666667 0.33333333 0.         ... 0.         0.66666667 1.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_minmax.iloc[:, :-1] = minmax.fit_transform(X)
/tmp/ipython-input-2632638929.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.53846154 0.69230769 0.23076923 ... 0.92307692 0.76923077 0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_minmax.iloc[:, :-1] = minmax.fit_transform(X)
/tmp/ipython-input-2632638929.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.8 0.  0.8 ... 0.2 0.2 0.8]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_minmax.iloc[:, :-1] = minmax.fit_transform(X)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
8,0.137255,0,0.947772,1.00,0.2,0.666667,0.538462,0.8,0,0,0,0,0,0,0
24,0.156863,0,0.511779,0.25,0.8,0.333333,0.692308,0.0,0,1,0,0,0,0,0
34,0.176471,0,0.078672,0.50,0.0,0.000000,0.230769,0.8,0,0,0,0,0,0,0
39,0.058824,0,0.649091,0.50,0.0,0.666667,0.153846,0.6,0,1,0,0,0,0,0
55,0.078431,0,0.258070,1.00,0.2,0.666667,0.000000,0.6,0,0,0,0,0,0,0

In [44]:
from sklearn.preprocessing import StandardScaler

standard = StandardScaler()

df_standard = df2.copy()

X = df_standard.iloc[:, :-1].astype(float)

df_standard.iloc[:, :-1] = standard.fit_transform(X)

print("Standard Scaled Data:")
df_standard.head()

Standard Scaled Data:

/tmp/ipython-input-1191298612.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.98272264 -0.8950487  -0.80737475 ...  0.15703861 -1.15807052
  1.99819139]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_standard.iloc[:, :-1] = standard.fit_transform(X)
/tmp/ipython-input-1191298612.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 2.37105756  0.37777154 -1.60231681 ...  0.28364685  1.64646424
 -0.28012729]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_standard.iloc[:, :-1] = standard.fit_transform(X)
/tmp/ipython-input-1191298612.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.52752965 -1.03396223 -0.1801316  ... -1.88779285  1.52752965
 -0.1801316 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_standard.iloc[:, :-1] = standard.fit_transform(X)
/tmp/ipython-input-1191298612.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.09441682  1.89311032 -0.75692587 ...  1.23060127 -0.09441682
 -0.75692587]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_standard.iloc[:, :-1] = standard.fit_transform(X)
/tmp/ipython-input-1191298612.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.84249434 -0.37847889 -1.59945212 ... -1.59945212  0.84249434
  2.06346757]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_standard.iloc[:, :-1] = standard.fit_transform(X)
/tmp/ipython-input-1191298612.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.42290577  0.90735331 -0.54598932 ...  1.63402463  1.14957708
 -1.27266063]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_standard.iloc[:, :-1] = standard.fit_transform(X)
/tmp/ipython-input-1191298612.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.60732412 -1.06051352  1.60732412 ... -0.39355411 -0.39355411
  1.60732412]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_standard.iloc[:, :-1] = standard.fit_transform(X)
/tmp/ipython-input-1191298612.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.2765084   0.78338694 -1.2765084  ... -1.2765084   0.78338694
 -1.2765084 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_standard.iloc[:, :-1] = standard.fit_transform(X)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
8,-0.982723,0,2.371058,1.527530,-0.094417,0.842494,0.422906,1.607324,0,-1.276508,0,0,0,0,0
24,-0.895049,0,0.377772,-1.033962,1.893110,-0.378479,0.907353,-1.060514,0,0.783387,0,0,0,0,0
34,-0.807375,0,-1.602317,-0.180132,-0.756926,-1.599452,-0.545989,1.607324,0,-1.276508,0,0,0,0,0
39,-1.333418,0,1.005537,-0.180132,-0.756926,0.842494,-0.788213,0.940365,0,0.783387,0,0,0,0,0
55,-1.245744,0,-0.782138,1.527530,-0.094417,0.842494,-1.272661,0.940365,0,-1.276508,0,0,0,0,0